parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$marking in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: class/eventsubscriber.php

		-
			message: "#^Variable \\$subject in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: class/eventsubscriber.php

		-
			message: "#^Anonymous function has an unused use \\$valueMapping\\.$#"
			count: 2
			path: class/handlers.php

		-
			message: "#^Variable \\$role in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: class/handlers.php

		-
			message: "#^Variable \\$processManager might not be defined\\.$#"
			count: 2
			path: xaradmin/export_process.php

		-
			message: "#^Variable \\$activityManager might not be defined\\.$#"
			count: 3
			path: xaradmin/graph.php

		-
			message: "#^Variable \\$process might not be defined\\.$#"
			count: 1
			path: xaradmin/graph.php

		-
			message: "#^Variable \\$processManager might not be defined\\.$#"
			count: 3
			path: xaradmin/graph.php

		-
			message: "#^Variable \\$activityManager might not be defined\\.$#"
			count: 1
			path: xaradmin/instance.php

		-
			message: "#^Variable \\$instance might not be defined\\.$#"
			count: 5
			path: xaradmin/instance.php

		-
			message: "#^Variable \\$instanceManager might not be defined\\.$#"
			count: 10
			path: xaradmin/instance.php

		-
			message: "#^Variable \\$processManager might not be defined\\.$#"
			count: 1
			path: xaradmin/instance.php

		-
			message: "#^Variable \\$roleManager might not be defined\\.$#"
			count: 1
			path: xaradmin/instance.php

		-
			message: "#^Variable \\$user might not be defined\\.$#"
			count: 2
			path: xaradmin/instance.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 3
			path: xaradmin/modifyconfig.php

		-
			message: "#^Variable \\$data might not be defined\\.$#"
			count: 5
			path: xaradmin/monitor_activities.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 5
			path: xaradmin/monitor_activities.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 13
			path: xaradmin/monitor_instances.php

		-
			message: "#^Variable \\$data might not be defined\\.$#"
			count: 3
			path: xaradmin/monitor_processes.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 3
			path: xaradmin/monitor_processes.php

		-
			message: "#^Variable \\$data might not be defined\\.$#"
			count: 4
			path: xaradmin/monitor_workitems.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 6
			path: xaradmin/monitor_workitems.php

		-
			message: "#^Variable \\$activityManager might not be defined\\.$#"
			count: 3
			path: xaradmin/processes.php

		-
			message: "#^Variable \\$processManager might not be defined\\.$#"
			count: 9
			path: xaradmin/processes.php

		-
			message: "#^Constant _XAR_ID_UNREGISTERED not found\\.$#"
			count: 1
			path: xaradmin/roles.php

		-
			message: "#^Variable \\$activityManager might not be defined\\.$#"
			count: 2
			path: xaradmin/roles.php

		-
			message: "#^Variable \\$processManager might not be defined\\.$#"
			count: 1
			path: xaradmin/roles.php

		-
			message: "#^Variable \\$roleManager might not be defined\\.$#"
			count: 11
			path: xaradmin/roles.php

		-
			message: "#^Variable \\$activityManager might not be defined\\.$#"
			count: 3
			path: xaradmin/shared_source.php

		-
			message: "#^Variable \\$processManager might not be defined\\.$#"
			count: 1
			path: xaradmin/shared_source.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 2
			path: xaradmin/workitem.php

		-
			message: "#^Variable \\$extrainfo might not be defined\\.$#"
			count: 10
			path: xaradminapi/createhook.php

		-
			message: "#^Variable \\$objectid might not be defined\\.$#"
			count: 2
			path: xaradminapi/createhook.php

		-
			message: "#^Variable \\$extrainfo might not be defined\\.$#"
			count: 10
			path: xaradminapi/deletehook.php

		-
			message: "#^Variable \\$extrainfo might not be defined\\.$#"
			count: 10
			path: xaradminapi/updatehook.php

		-
			message: "#^Variable \\$GUI might not be defined\\.$#"
			count: 2
			path: xaruser/activities.php

		-
			message: "#^Variable \\$extrainfo might not be defined\\.$#"
			count: 4
			path: xaruser/displayhook.php

		-
			message: "#^Variable \\$GUI might not be defined\\.$#"
			count: 8
			path: xaruser/instances.php

		-
			message: "#^Variable \\$GUI might not be defined\\.$#"
			count: 1
			path: xaruser/processes.php

		-
			message: "#^Variable \\$instance might not be defined\\.$#"
			count: 7
			path: xaruser/run_activity.php

		-
			message: "#^Variable \\$args on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: xaruser/test.php

		-
			message: "#^Variable \\$args on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: xaruser/test_run.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 1
			path: xaruserapi/findinstances.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 1
			path: xaruserapi/getactivityid.php

		-
			message: "#^Variable \\$GUI might not be defined\\.$#"
			count: 1
			path: xaruserapi/getitemlinks.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 1
			path: xaruserapi/getitemtypes.php

		-
			message: "#^Variable \\$instance might not be defined\\.$#"
			count: 4
			path: xaruserapi/run_activity.php

		-
			message: "#^Variable \\$instance might not be defined\\.$#"
			count: 6
			path: xaruserapi/showactivity.php

		-
			message: "#^Variable \\$GUI might not be defined\\.$#"
			count: 1
			path: xaruserapi/showinstances.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 1
			path: xaruserapi/showstatus.php

		-
			message: "#^Variable \\$out might not be defined\\.$#"
			count: 1
			path: xaruserapi/timetodhms.php

		-
			message: "#^Variable \\$time might not be defined\\.$#"
			count: 1
			path: xaruserapi/timetodhms.php
