parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: adminapi/createhook.php

		-
			message: "#^Variable \\$extrainfo might not be defined\\.$#"
			count: 10
			path: adminapi/createhook.php

		-
			message: "#^Variable \\$objectid might not be defined\\.$#"
			count: 2
			path: adminapi/createhook.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: adminapi/deletehook.php

		-
			message: "#^Variable \\$extrainfo might not be defined\\.$#"
			count: 10
			path: adminapi/deletehook.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: adminapi/removehook.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: adminapi/updatehook.php

		-
			message: "#^Variable \\$extrainfo might not be defined\\.$#"
			count: 10
			path: adminapi/updatehook.php

		-
			message: "#^Variable \\$activityManager might not be defined\\.$#"
			count: 13
			path: admingui/activities.php

		-
			message: "#^Variable \\$processManager might not be defined\\.$#"
			count: 1
			path: admingui/activities.php

		-
			message: "#^Variable \\$roleManager might not be defined\\.$#"
			count: 3
			path: admingui/activities.php

		-
			message: "#^Variable \\$vars might not be defined\\.$#"
			count: 1
			path: admingui/activities.php

		-
			message: "#^Variable \\$processManager might not be defined\\.$#"
			count: 2
			path: admingui/export_process.php

		-
			message: "#^Variable \\$activityManager might not be defined\\.$#"
			count: 3
			path: admingui/graph.php

		-
			message: "#^Variable \\$process might not be defined\\.$#"
			count: 1
			path: admingui/graph.php

		-
			message: "#^Variable \\$processManager might not be defined\\.$#"
			count: 3
			path: admingui/graph.php

		-
			message: "#^Variable \\$activityManager might not be defined\\.$#"
			count: 1
			path: admingui/instance.php

		-
			message: "#^Variable \\$instanceManager might not be defined\\.$#"
			count: 10
			path: admingui/instance.php

		-
			message: "#^Variable \\$processManager might not be defined\\.$#"
			count: 1
			path: admingui/instance.php

		-
			message: "#^Variable \\$roleManager might not be defined\\.$#"
			count: 1
			path: admingui/instance.php

		-
			message: "#^Variable \\$user might not be defined\\.$#"
			count: 2
			path: admingui/instance.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 3
			path: admingui/modifyconfig.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 5
			path: admingui/monitor_activities.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 13
			path: admingui/monitor_instances.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 3
			path: admingui/monitor_processes.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 6
			path: admingui/monitor_workitems.php

		-
			message: "#^Variable \\$activityManager might not be defined\\.$#"
			count: 3
			path: admingui/processes.php

		-
			message: "#^Variable \\$processManager might not be defined\\.$#"
			count: 9
			path: admingui/processes.php

		-
			message: "#^Constant _XAR_ID_UNREGISTERED not found\\.$#"
			count: 1
			path: admingui/roles.php

		-
			message: "#^Variable \\$activityManager might not be defined\\.$#"
			count: 2
			path: admingui/roles.php

		-
			message: "#^Variable \\$processManager might not be defined\\.$#"
			count: 1
			path: admingui/roles.php

		-
			message: "#^Variable \\$roleManager might not be defined\\.$#"
			count: 11
			path: admingui/roles.php

		-
			message: "#^Variable \\$activityManager might not be defined\\.$#"
			count: 3
			path: admingui/shared_source.php

		-
			message: "#^Variable \\$processManager might not be defined\\.$#"
			count: 1
			path: admingui/shared_source.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 2
			path: admingui/workitem.php

		-
			message: "#^Variable \\$marking in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: class/eventsubscriber.php

		-
			message: "#^Variable \\$subject in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: class/eventsubscriber.php

		-
			message: "#^Anonymous function has an unused use \\$valueMapping\\.$#"
			count: 2
			path: class/handlers.php

		-
			message: "#^Variable \\$role in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: class/handlers.php

		-
			message: "#^Constructor of class Xaraya\\\\Modules\\\\Workflow\\\\HookObservers\\\\GenericObserver has an unused parameter \\$args\\.$#"
			count: 1
			path: class/hookobservers/generic.php

		-
			message: "#^Comparison operation \"\\<\" between non\\-empty\\-array\\|int\\<min, \\-1\\>\\|int\\<1, max\\> and 0 results in an error\\.$#"
			count: 1
			path: class/tracker.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 1
			path: userapi/findinstances.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$activityName$#"
			count: 1
			path: userapi/getactivityid.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 1
			path: userapi/getactivityid.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$instaceId$#"
			count: 1
			path: userapi/getinstance.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: userapi/getitemlinks.php

		-
			message: "#^Variable \\$GUI might not be defined\\.$#"
			count: 1
			path: userapi/getitemlinks.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 1
			path: userapi/getitemtypes.php

		-
			message: "#^Variable \\$instance in PHPDoc tag @var does not match any global variable\\: \\$__activity_completed$#"
			count: 1
			path: userapi/run_activity.php

		-
			message: "#^Variable \\$instance might not be defined\\.$#"
			count: 4
			path: userapi/run_activity.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed \\$this\\-\\>getContext\\(\\) not available in template tag\\)\\: Unexpected token \"\\$this\", expected variable at offset 612$#"
			count: 1
			path: userapi/showactions.php

		-
			message: "#^Variable \\$GUI might not be defined\\.$#"
			count: 1
			path: userapi/showinstances.php

		-
			message: "#^Variable \\$processMonitor might not be defined\\.$#"
			count: 1
			path: userapi/showstatus.php

		-
			message: "#^Variable \\$out might not be defined\\.$#"
			count: 1
			path: userapi/timetodhms.php

		-
			message: "#^Variable \\$time might not be defined\\.$#"
			count: 1
			path: userapi/timetodhms.php

		-
			message: "#^Variable \\$GUI might not be defined\\.$#"
			count: 2
			path: usergui/activities.php

		-
			message: "#^Variable \\$extrainfo might not be defined\\.$#"
			count: 4
			path: usergui/displayhook.php

		-
			message: "#^Method Xaraya\\\\Modules\\\\Workflow\\\\UserGui\\:\\:runActivity\\(\\) invoked with 0 parameters, 1 required\\.$#"
			count: 1
			path: usergui/instances.php

		-
			message: "#^Variable \\$GUI might not be defined\\.$#"
			count: 8
			path: usergui/instances.php

		-
			message: "#^Variable \\$GUI might not be defined\\.$#"
			count: 1
			path: usergui/processes.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$ended\\.$#"
			count: 1
			path: usergui/run_activity.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$nextActivity\\.$#"
			count: 1
			path: usergui/run_activity.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$nextUser\\.$#"
			count: 1
			path: usergui/run_activity.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$owner\\.$#"
			count: 1
			path: usergui/run_activity.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$pId\\.$#"
			count: 1
			path: usergui/run_activity.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$properties\\.$#"
			count: 1
			path: usergui/run_activity.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$started\\.$#"
			count: 1
			path: usergui/run_activity.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$status\\.$#"
			count: 1
			path: usergui/run_activity.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$workitems\\.$#"
			count: 1
			path: usergui/run_activity.php

		-
			message: "#^Call to an undefined method object\\:\\:getInstanceId\\(\\)\\.$#"
			count: 2
			path: usergui/run_activity.php

		-
			message: "#^Variable \\$instance in PHPDoc tag @var does not match any global variable\\: \\$__activity_completed$#"
			count: 1
			path: usergui/run_activity.php

		-
			message: "#^Variable \\$instance might not be defined\\.$#"
			count: 7
			path: usergui/run_activity.php

		-
			message: "#^Variable \\$args on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: usergui/test.php

		-
			message: "#^Variable \\$args on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: usergui/test_queue.php

		-
			message: "#^Variable \\$args on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: usergui/test_run.php

		-
			message: "#^Call to an undefined method Xaraya\\\\Sessions\\\\SessionInterface\\:\\:startSession\\(\\)\\.$#"
			count: 1
			path: tests/SymfonyWorkflowTest.php

		-
			message: "#^Anonymous function has an unused use \\$failure\\.$#"
			count: 1
			path: xardata/spellchecker.php

		-
			message: "#^Anonymous function has an unused use \\$fields\\.$#"
			count: 1
			path: xardata/spellchecker.php

		-
			message: "#^Anonymous function has an unused use \\$queued\\.$#"
			count: 1
			path: xardata/spellchecker.php

		-
			message: "#^Anonymous function has an unused use \\$success\\.$#"
			count: 1
			path: xardata/spellchecker.php

		-
			message: "#^Method Xaraya\\\\Modules\\\\Publications\\\\SpellCheckerDummy\\:\\:checkSpelling\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: xardata/spellchecker.php
