{# @workflow/admin/errors.html.twig #}

{% block errors %}
<div class="xar-mod-head">
      <span class="xar-mod-title">
        Workflow Administration
      </span>
    </div>
    <div class="xar-mod-body">
        <fieldset>
            <legend>Workflow Problem</legend>
            {% set label = 'System Message' %}
            <img src="{{ xar_imageurl('user-error.png','base') }}" alt="{{ label }}" width="96" height="96" class="xar-module-icon"/>
            {% if layout is null %}
                <div style="margin-top: 20px; margin-left: 20px">
                    {% if msg is not null %}
                        {{ msg }}
                    {% else %}
                        No error message is available.
                        <br />
                        Please contact the system administrator.
                    {% endif %}
                </div>                    
            {% elseif layout == 'no_cookies' %}
                <div style="margin-top: 20px; margin-left: 20px">
                    You must enable cookies on your browser to run Xaraya.
                    <br />
                    Check the browser configuration options to make sure cookies are enabled.
                </div>
            {% else %}
                <div style="margin-top: 20px; margin-left: 20px">
                    {% if msg is not null %}
                        {{ msg }}
                    {% else %}
                        No error message is available.
                        <br />
                        Please contact the system administrator.
                    {% endif %}
                </div>                    
            {% endif %}                
        </fieldset>
  </div>
{% endblock %}