  <div style="overflow: hidden">
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
    {% if subject %}
      {% set params = {'workflow': workflow, 'subject': subject} %}
      {% set mermaid = xar_apifunc('workflow', 'user', 'mermaid', params) %}
    {% else %}
      {% set params = {'workflow': workflow} %}
      {% set mermaid = xar_apifunc('workflow', 'user', 'mermaid', params) %}
    {% endif %}
    <div class="mermaid">
      {{ mermaid }}
    </div>
  </div>
