{# @workflow/includes/test_footer.html.twig #}

{% block test_footer %}
<div>
    <i>
      Based on the 
      <a href="https://symfony.com/doc/current/components/workflow.html">
        Symfony Workflow Component
      </a>
    </i>
  </div>
{% endblock %}